html  {
  font-family: 'Raleway', sans-serif;
}
body  {

  background-image: url("indeximage/indimage1.jpg.png");
  background-size: 100%

}
/*
.main  {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
  background-image: url("indeximage/indimage1.jpg.png")
}

.main img  {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}
*/

.links  {
	float: left;
	height: 300px;
	width: 300px;
	border-style: solid;
	border-color: aqua;
	border-radius: 50%;
	border-width: 20px;
	text-align: center;
	vertical-align: middle;
	background-color: AntiqueWhite;
	margin-left: 15%;
	margin-top: 10%;
	font-weight: 100;
	font-size: 2.07em;
}
.links a {
	color: DarkSlateGray;
}

.links a:link  {
	text-decoration: none;
}

.links a:hover  {
	color: DarkCyan;
}

.links a:visited  {
	color: IndianRed;
}

#inner  {
	border-style: none;
	border-radius: 50%;
	margin-top: 22%;
	line-height: 33px;
}


.tricontainer  {
	float: right;
	margin-right: 100px;
	
}

.triangle  {

    position: relative;
	width: 0;
	height: 0;
	border-left: 150px solid transparent;
	border-right: 150px solid transparent;
	border-bottom: 300px solid aqua;
	margin-top: 25px;

}

.def {
	width: 200px;
	position: absolute;
	top: 240px;
	left: -100px;
	text-align: center;
	font-size: 1.12em;
}
.archiveli  {
	position: absolute;
	top: 165px;
	left: -73.5px;
	height: 85px;
	width: 146px;
	background-color: aqua;
	margin-right: 50%;
	overflow: scroll;
    
}
.archiveli li  {
	
	list-style-type: none;
}
.archiveli a:link  {
	color: DarkSlateGray;
	text-decoration: none;
}
.archiveli a:hover  {
	color: DarkCyan;
}
#i8  {
	margin-left: -8px;
}
#i11  {
	margin-left: -15px;
}
#i14  {
	margin-left: -20px;
}

@media screen and (min-device-width: 1px) and (max-device-width: 359px)  {
  .links  {
  	float: none;
  	width: 85%;
    height: 74.858%;
  	margin-right: auto;
  	margin-left: auto;
  	
  }
  .tricontainer  {
  	float: none;
  	width: 80%;
  	height: 80%;
  	margin-right: auto;
  	margin-left: auto;
  	margin-top: 5;
  }
 .triangle  {
 	
 	width: 43.9167%;
 	height: 43.9167%;
 	margin-right: auto;
 	margin-left: auto;
 }
}


@media screen and (min-height: 360px) and (max-height: 660px) {
	.links  {
		float: left;
		margin-left: 2%;
		margin-top: 2%;
		margin-right: 0%;
		margin-bottom: 0%;
		padding-bottom: 0;
		padding-right: 0;

	}
	.tricontainer  {
		margin-left: 0%;
		margin-top: 0%;
		margin-right: 2%;
		margin-bottom: 5%;
		float: right;
		padding-left: 0;

	}
	.triangle  {
		float: right;
	}
} 
