html  {
	font-family: 'Exo 2', sans-serif;
}
body  {
	background-image: url("indeximage/indimage.jpg.png"); ;
}

.links  {
	height: 200px;
	width: 200px;
	line-height: 33px;
	border-style: solid;
	border-color: aqua;
	border-radius: 50%;
	border-width: 20px;
	text-align: center;
	vertical-align: middle;
	background-color: #F2F2FF;
	margin: auto;
	margin-top: 96px

	

}

.links a:link  {
	text-decoration: none;
	color: 	#350000;
}
