html  {
  font-family: 'Raleway', sans-serif;
}
body  {

	background-image: url("indeximage/indimage.jpg.png"); ;
}


.links  {
	float: left;
	height: 300px;
	width: 300px;
	border-style: solid;
	border-color: aqua;
	border-radius: 50%;
	border-width: 20px;
	text-align: center;
	vertical-align: middle;
	background-color: AntiqueWhite;
	margin-left: 15%;
	margin-top: 10%;
	font-weight: 100;
	font-size: 2.07em;
}
.links a {
	color: DarkSlateGray;
}

.links a:link  {
	text-decoration: none;
}

.links a:hover  {
	color: DarkCyan;
}

/*.links a:visited  {
	color: IndianRed;
}*/

#inner  {
	border-style: none;
	border-radius: 50%;
	margin-top: 22%;
	line-height: 33px;
}


.tricontainer  {
	float: right;
	margin-right: 100px;
	
}

.triangle  {

    position: relative;
	width: 0;
	height: 0;
	border-left: 150px solid transparent;
	border-right: 150px solid transparent;
	border-bottom: 300px solid aqua;
	margin-top: 25px;

}

.def {
	width: 200px;
	position: absolute;
	top: 240px;
	left: -100px;
	text-align: center;
	font-size: 1.12em;
}
.archiveli  {
	position: absolute;
	top: 165px;
	left: -73.5px;
	height: 85px;
	width: 146px;
	background-color: aqua;
	margin-right: 50%;
	overflow: scroll;
    
}
.archiveli li  {
	
	list-style-type: none;
}
.archiveli a:link  {
	color: DarkSlateGray;
	text-decoration: none;
}
.archiveli a:hover  {
	color: DarkCyan;
}
#i8  {
	margin-left: -8px;
}
#i11  {
	margin-left: -15px;
}
#i14  {
	margin-left: -20px;
}

@media screen and (max-width: 480px)  {
  .links  {
  	float: none;
  }
  .tricontainer  {
  	float: none;
  }
}

