body {
	background-color: #B2F0F1;
}

header {
	margin: 3%;
	border: solid 2px #5C1700;
	border-radius: 25px;
	background-color: #CC9999;
}

section {
	display: flex;
	flex-direction: row;

}

h1 {
	text-align: center;
}

#content {
	width: 30%;
	margin-left: 5%;
	margin-right: 5%;
	line-height: 160%;

}

#sidebar {
	height: 27%;
	margin-left: 5%;
	border: solid 2px black;
	border-color: #5C1700;
	background-color: AntiqueWhite;

}

#example {
	height: 95.5%;
}

article {
	border: solid 2px black;
	border-color: #5C1700;
	background-color: AntiqueWhite;

}
