html  {
	font-family: 'Questrial', sans-serif;
	
}
#banner  {
	height: 30px;
	background-color: black;
	/*border-bottom-style: solid;
	border-bottom-color: #00FFFF;*/
}

#shareThisShareEgg  {
	float: left;
	margin-left: 0px;
	
}

h3  {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}

body  {
	border-top-style: solid;
	border-top-color: #00FFFF;
	margin: 0;
	padding; 0;
	background-color: #87898B;


}
span {
  margin: 0 auto;
  text-align: center;
  font-size: 25em;
}

#txtbrick  {
	position: relative;
	background-color: #E9E9EA;
	height: 600px;
	width: 65%;
    margin: 0 auto;
    padding: 20px;
    overflow: scroll; 
    border-style: solid;
    border-color: Black;
    font-family: 'Raleway', sans-serif;
    font-size: 1.13em;
    font-weight: 300;

}
#txtbrick a  {
	color: Brown;
}
#txtbrick a:link {
	text-decoration: none;
}
#quote  {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	font-size: 70%;
}
#chain {
  float: right;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  font-size: 1.5em;
  margin-top: 30px;
  
  margin-right: 80px;
  margin-bottom: 25px;
}
#chain a  {
	color: black;
}

#chain a:link  {
  text-decoration: none;
  
}
#chain a:hover  {
  color: aqua;
  font-size: 1.6em;
}


#pic {
	width: 31.41%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
		
}