.this  {
	background: Seashell;
}

p  {
	background: Wheat;
	font-family: 'Armata', sans-serif; 
}

h1 {
	font-family: 'Open Sans', sans-serif;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	color: red;
}

#special {
	font-family: 'Open Sans', sans-serif;
	color: #7FFF00;
	background-color: DimGray;

}