/*#ffff7a*/
/*social button with dropdowns for linkedin & github*/
/*vertical line next to text block that thickens on hover*/
/*/slide in new info screen from right on click*/
body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  letter-spacing: 4px;
}

table {
  width: 100%;
  margin-top: 100px;
  font-size: 1.5em;
}

td  {
  width: 50%;
  height: 100px;
}

.title {
  padding-top: 30px;
}

a:link {
    text-decoration: none;
}

.skill {
  padding-bottom: 10px;
}

.skill:hover {
  border-bottom: 1px solid #f88379;
}
