polygon:hover {
  opacity: 0.6;
  transition: .2s;
  fill: #fed65e;
  /*fill: #FD7133;*/
}

body {
  margin: 0;
  padding: 0;
  /*font-family: 'Montserrat Subrayada', sans-serif;*/
  font-family: 'Major Mono Display', monospace;

  letter-spacing: 4px;
}

.title {
  position: fixed;
  text-align: center;
  margin-top: 150px;
  top: 0;
  width: 100%;
  font-size: 7em;
  font-weight: 800;
  color: white;
  text-shadow: 12px 12px #fed65e;
}

.title span {
  text-shadow: 12px 12px #5F4B8B;
}

.navigation {
  visibility: hidden;
  position: fixed;
  top: 10;
  right: 10;
  width: 200px;
  height: 220px;
  background-color: #fc7871;
}

.navigation .open {
  visibility: visible;
}

a {
  color: black;
}

a:link {
    text-decoration: none;
}

a:visited {
  color: black;
}

li {
  list-style: none;
  font-size: 1.5em;
  line-height: 1.8em;
}

@media (max-width: 700px) {
  .title {
    font-size: 4em;
    text-shadow: 8px 8px #f4d742;
  }
}


