body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  letter-spacing: 4px;
}

#title:hover {
  border-bottom: 1px solid #f88379;
}

.container {
  width: 80%;
  margin: 0 auto;
}

table {
  width: 100%;
  margin-top: 100px;
  font-size: 1.5em;
}

tr {

}


td  {
  height: 100px;
  padding-top: 15px;
  vertical-align: top;
}

li {
  font-size: 0.75em;
  text-align: left !important;
}

.title {
  margin-top: 60px;
  text-align: center;
  padding-top: 30px;
}

a {
  color: black;
}

a:link {
    text-decoration: none;
}

a:visited {
  color: black;
}

.skill {
  padding-bottom: 10px;
}

.img-container {
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}

.img-container:hover {
  top: -10px;
}

.skill-right {
  text-align: right;
}

.skill:hover {
  border-bottom: 1px solid #f88379;
}

.contact {
  margin-top: 60px;
  text-align: right;

}

/*mobile */
.item {

}


.mobile-img {
  text-align: center;
}

.mobile-img img {
  width: 300px;
  height: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 18px;
}

.description {
  margin-top: 10px;
}

/*websites*/
p {
  text-align: center;
}

td.site {
  width: 25%;
}

.site-img {
  text-align: center;
}

.site-img img {
  width: 300px;
  height: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 18px;
}

/*podcast*/

#podcast-img img {
  width: 400px;
  height: 123.6px;
}

.pod-description {

}

/*writing*/
.piece {
  width: 80%;
  margin: 0 auto;
  font-size: 0.75em;
}
